
.hexfield {
  fill: transparent;
  stroke: yellowgreen;
  stroke-width: 1;
}
.hexfield:focus {
  outline:none;
}
.hexfield:hover {
  fill: green;
}
.hexfield:active {
  fill: red;
  outline: none;
}
.hexfield.clicked{
  fill: black;
}